<%= bootstrap_form_for [:course, :assignment, :team,  @evaluation] do |f| %>

 
<p>
  <strong>Reviewing :</strong>
  <%= @student.first_name %>
</p>

<%= f.hidden_field :reviewee_id, :value => @student.id %>
<%= f.hidden_field :reviewer_id, :value => current_user.id %>

<%= f.text_field :quality_of_work, placeholder: "quality of work(1-5)", hide_label: :false %>
<%= f.text_field :dependability, placeholder: "dependability(1-5)", hide_label: :false %>
<%= f.text_field :communication, placeholder: "communication(1-5)", hide_label: :false %>
<%= f.text_field :team_player_skills, placeholder: "team player skills(1-5)", hide_label: :false %>
<%= f.text_field :work_ethic, placeholder: "work ethic(1-5)", hide_label: :false %>


<%= f.text_field :comment, placeholder: "Comment", hide_label: :true %>

<%= f.submit "Submit", class: "btn btn-info" %>

<% end %>

 