
<%= bootstrap_form_for [:course, :assignment, @team], url: {action: @team.new_record? ? "create" : "update"} do |f| %>
	
  <% if @students == nil %> 
    <div class="text-center no-students">No students registered in course.</div>
  <%elsif @students.size == 0 %>
    <div class="text-center no-students">All students are assigned to a group.</div>
  <%else%>
     <table class="table">
      <thead>
        <th class="text-left">First Name</th>
        <th class="text-left">Last Name</th>
        <th class="text-left">Email</th>
        <th class="text-left">Select Student</th>
      </thead> 
        <tbody>
          
      <% @students.each_with_index do |student, index| %>
        <tr>
          <td class="t-info text-left"><%= student.first_name %></td>
          <td class="t-info text-left"><%= student.last_name %></td>
          <td class="t-info text-left"><%= student.email %></td> 
          <td class="t-info text-center">   
          <% name = "status[#{index}]" %>    
          <%= check_box_tag name, student.id %>        
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%end%>
      
  <% if @students == nil || @students.size == 0 %>
  <% else %>
    <div class="modalFooter"> 
      <%= f.submit "Add Team", class: "btn btn-info" %>
      <% if @can_use_previous == true %>
        <div class="PreviousClassList">
          <h5>Use Previous Team List
          <%= check_box_tag "use_previous", '1' %>
          </h5>
        </div>
      <%end%>
    </div> 
  <% end %>
   
	
	
 
<% end %>