<%= render 'shared/nav' %>

<div class="container">
  <div class="row">
    <div class="col-md-12 heading-titles">
      <h1 class="text-center page-title">Teams</h1>
      <h4 class="text-center sub-title"><%= @course.course_name %>, <%= @assignment.name %></h4>

  <% if current_user.role == "instructor" && @view_students == false %>

   <ul class="pager">
    <li class="previous"><%= link_to course_assignments_path do %>
      &larr; Assignments
      <% end %>
    </li>
  </ul>
    
  <h3><%= link_to 'Add a Team +', new_course_assignment_team_path, :remote => true, class: "btn action btn-info" %></h3>

  
  <% elsif current_user.role == "student" %>
  <ul class="pager">
    <li class="previous"><%= link_to course_assignments_path do %>
      &larr; Assignments
      <% end %>
    </li>
  </ul>
  <% end %> 
    </div>
  </div>
          <% if @teams != nil && @teams.size == 0 %>
            <%= render 'shared/loader' %>
              <h4 class="text-center no-teams">You currently don't have any teams. Add a team to begin building the list.</h4>
          <% elsif @has_teammates != true %>
            <%= render 'shared/loader' %>
            <h4 class="text-center no-teams">You currently don't have any teammates. Go out there and get some, soldier!</h4>
          <% else %> 
      <div class="row">
      <div class="col-md-12 courses-table">
        <div class="table-responsive">
        <table class="table">
          <thead>
            <% if current_user.role == "instructor" && @view_students == false %>
            <th class="text-left">Team ID</th>
            <th class="text-left">Team Status</th>
            <th class="text-center" colspan="3">Actions</th>
            <% elsif current_user.role == "student" %>
            <th class="text-left">First Name</th>
            <th class="text-left">Last Name</th>
            <th class="text-center" colspan="3">Evaluation Status</th>
            <% end %>
            
          </thead>



            <tbody>
            <% if current_user.role == "instructor" && @view_students == false %>


            <% @teams.each do |team| %>
            <tr>
              <td class="t-info text-left"><%= team.name %></td>
              <td class="t-info text-left"><%= team.status %></td>

              <td class="t-info text-center">

              <%= link_to course_assignment_teams_path(@course,@assignment,team.id), 'data-toggle' =>  "tooltip", 'data-trigger' => 'hover', 'data-placement' => 'left', 'title' => 'View Team Members', class: "tb-btn-space" do %>
              <i class="fa fa-user"></i>
            <% end %>


              <%= link_to edit_course_assignment_team_path(@course,@assignment, team), :remote => true, 'data-toggle' =>  "tooltip", 'data-trigger' => 'hover', 'data-placement' => 'bottom', 'title' => 'Edit Team', class: "tb-btn-space" do %>
              <i class="glyphicon glyphicon-pencil"></i>
              <% end %>


              <%= link_to course_assignment_team_path(@course, @assignment, team), 'data-toggle' =>  "tooltip", 'data-trigger' => 'hover', 'data-placement' => 'right', 'title' => 'Delete', method: :delete,
               data: { confirm: 'Are you sure?' }, class: "tb-btn-space" do %>
              <i class="glyphicon glyphicon-trash"></i>
              <% end %>
            </td>
            </tr>
          <% end %>
          
          <% elsif current_user.role == "student" || @view_students == true %>


          <% if current_user.role == "instructor" %>
            
            <ul class="pager">
                <li class="previous"><%= link_to course_assignments_path do %>
                &larr; Teams
                <% end %>
                </li>
              </ul>
          <% end %> 


              <% @teammates.each_with_index do |teammate,index| %>
              <% if current_user.role == "instructor" %>

          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <% href_name = "#collapse#{index}" -%>
                  <a data-toggle="collapse" data-parent="#accordion" href="<%= href_name -%>">
                  <%= teammate.first_name %> <%= teammate.last_name %><i class="fa fa-sort-desc pull-right"></i>
                  </a>
              </h4>
            </div>
            <% name = "collapse#{index}" -%>
            <div id="<%= name -%>", class="panel-collapse collapse">
              <div class="panel-body">
                <div class="row">
                  <% @teammates.each do |reviewer| %> <!-- reviewers loop -->
                  <% if reviewer.id != teammate.id %>
                  <div class="col-md-12"> <!--  review div  -->
                    <h4>Reviewer: <%= reviewer.first_name %> <%= reviewer.last_name %></h4>
                    <% User::EVALUATION_FIELDS.each_with_index do |eval,index| %>
                    <h5 class="category-title"><%= eval.humanize %></h5><div class="bubble-box"><h6 class="rating-bubble"><%= current_user.get_evaluation_field_for_reviewee_with_reviewer_id_and_team_id(eval,teammate.id,reviewer.id,@team_id) %></h6></div>
                    <% end %> <!-- end of eval fields do -->
                  </div> <!-- closes the review div loop -->
                  
                  <div class="col-md-12">
                    <h5>Comment:</h5>
                    <p class="student-comments">
                    <%= current_user.get_evaluation_field_for_reviewee_with_reviewer_id_and_team_id("comment",teammate.id,reviewer.id,@team_id) %>
                   </p>
                  </div>
                    <% end %> <!-- closes the if -->
                  <% end %> <!-- closes reviewers loop -->
                </div> <!-- end of row -- >

              </div> <!-- end of panel body -->
            </div> <!-- closes the the collapse panel-->
          </div> <!-- closes the panel wrapper-->
        </div> <!--closes the accordion -->


              <% else %>

                              <tr>
                  <td class="t-info text-left"><%= teammate.first_name %></td>
                  <td class="t-info text-left"><%= teammate.last_name %></td>
                  
                  <td class="t-info text-center">

                  <% if current_user.role == "student" && !current_user.is_already_reviewed(@team_id,teammate.id) %>   
                      <%= link_to new_course_assignment_team_evaluation_path(@course,@assignment,@team_id, user_id: teammate.id), :remote => true, 'data-toggle' =>  "tooltip", 'data-trigger' => 'hover', 'data-placement' => 'bottom', 'title' => 'Evaluate Team Member', class: "tb-btn-space" do %>
                        <i class="glyphicon glyphicon-pencil"></i>
                      <% end %>
                      <% else %>
                      <i class="fa fa-check"></i>
                      <!-- i class="glyphicon glyphicon-ok"></i> -->
                
                  <%end%>

              <% end %> 
  
            <% end %> <!-- closes the teammates loop -->


            </td>
            </tr>
          <% end %> 
          </tbody>
        </table>
        </div> <!-- / Table responsive -->
      </div>
    </div>
     <!--This goes back to the index action -->
  </div>
<% end %>


<%= render 'shared/modal' %>
<%= render 'shared/internal_footer' %>
