<%= render 'shared/nav' %>

<div class="container">
  <div class="row">
    <div class="col-md-12 heading-titles">
      <h1 class="text-center page-title">Teams</h1>
      <h4 class="text-center sub-title"><%= @course.course_name %>, <%= @assignment.name %></h4>
  <h3 class="inline"><%= link_to 'Add a Team +', new_course_assignment_team_path, :remote => true, class: "btn action btn-info" %></h3>
  <h3 class="inline"><%= link_to 'View Evaluations', new_course_assignment_team_path, :remote => true, class: "btn action btn-default" %></h3>
    </div>
  </div>

          <% if @teams != nil && @teams.size == 0 %>
              <h4 class="text-center no-teams">You currently don't have any teams. Add a team to begin building the list...</h4>
          <% else %> 
      <div class="row">
      <div class="col-md-12 courses-table">
        <div class="table-responsive">
        <table class="table">
          <thead>
            <% if current_user.role == "instructor" %>
            <th class="text-left">Team ID</th>
            <th class="text-left">Team Status</th>
            <th class="text-center" colspan="3">Actions</th>
            <% elsif current_user.role == "student" %>
            <th class="text-left">First Name</th>
            <th class="text-left">Last Name</th>
            <th class="text-center" colspan="3">Actions</th>
            <% end %>
            
          </thead>

          
            <tbody>
            <% if current_user.role == "instructor" %>
            <% @teams.each do |team| %>
            <tr>
              <td class="t-info text-left"><%= team.id %></td>
              <td class="t-info text-left"><%= team.status %></td>

              <td class="t-info text-center">

              <%= link_to course_assignment_teams_path(@assignment, team), 'data-toggle' =>  "tooltip", 'data-trigger' => 'hover', 'data-placement' => 'left', 'title' => 'View Teams', class: "tb-btn-space" do %>
              <i class="fa fa-user"></i>
             <!-- <i class="glyphicon glyphicon-eye-open"></i> -->
            <% end %>

              <%= link_to '', :remote => true, 'data-toggle' =>  "tooltip", 'data-trigger' => 'hover', 'data-placement' => 'bottom', 'title' => 'Edit Team', class: "tb-btn-space" do %>
              <i class="glyphicon glyphicon-pencil"></i>
              <% end %>

              <%= link_to course_assignment_teams_path(@assignment, team), 'data-toggle' =>  "tooltip", 'data-trigger' => 'hover', 'data-placement' => 'right', 'title' => 'Delete', method: :delete,
               data: { confirm: 'Are you sure?' }, class: "tb-btn-space" do %>
              <i class="glyphicon glyphicon-trash"></i>
              <% end %>
            </td>
            </tr>
          <% end %>
          
          <% elsif current_user.role == "student" %>

              <% @teammates.each do |teammate| %>
            <tr>
              <td class="t-info text-left"><%= teammate.first_name %></td>
              <td class="t-info text-left"><%= teammate.last_name %></td>

              <td class="t-info text-center">


              <%= link_to '', :remote => true, 'data-toggle' =>  "tooltip", 'data-trigger' => 'hover', 'data-placement' => 'bottom', 'title' => 'Evaluation Team Member', class: "tb-btn-space" do %>
              <i class="glyphicon glyphicon-pencil"></i>
              <% end %>

  
            <% end %> 
            </td>
            </tr>
            <% end %> 
          </tbody>
        </table>
        </div> <!-- / Table responsive -->
      </div>
    </div>
     <!--This goes back to the index action -->
  </div>
<% end %>

<%= render 'shared/modal' %>

<%= render 'shared/footer' %>