<%= render 'shared/nav' %>

<div class="container">
  <div class="row">
    <div class="col-md-12 heading-titles">
      <h1 class="text-center page-title">Teams</h1>
      <h4 class="text-center sub-title"><%= @course.course_name %>, <%= @assignment.name %></h4>
  <h3 class="inline"><%= link_to 'Add a Team +', new_course_assignment_team_path, :remote => true, class: "btn action btn-info" %></h3>
  <h3 class="inline"><%= link_to 'View Evaluations', new_course_assignment_team_path, :remote => true, class: "btn action btn-default" %></h3>
    </div>
  </div>

          <% if @teams == nil %>
              <h4 class="text-center no-teams">You currently don't have any teams. Add a team to begin building the list...</h4>
          <% else %> 
      <div class="row">
      <div class="col-md-12 courses-table">
        <div class="table-responsive">
        <table class="table">
          <thead>
            <th class="text-left">Team Name</th>
            <th class="text-left">Status</th>
            <th class="text-center" colspan="3">Actions</th>
          </thead> 
            <tbody>
            <% @teams.each do |team| %>
            <tr>
              <td class="t-info text-left"><%= team.name %></td>
              <td class="t-info text-left"><%= team.status %></td>
   
              
              <td class="t-info text-center">

  
            
            </td>
            </tr>
          
          <% end %>
          </tbody>
        </table>
        </div> <!-- / Table responsive -->
      </div>
    </div>
     <!--This goes back to the index action -->
  </div>
<% end %>

<%= render 'shared/modal' %>

<%= render 'shared/footer' %>