
  <%= bootstrap_form_tag url: admin_index_path, method: :create do |f| %>
 
    <div class="col-md-6 first-name-field">
     <%= f.text_field :first_name, required:true, autofocus: true, hide_label:true, inline: true, placeholder: "Enter your first name" %>
   </div>

   <div class="col-md-6 last-name-field">
     <%= f.text_field :last_name, required:true, hide_label:true, inline: true, placeholder: "Enter your last name" %>
   </div>

   <div class="col-md-6 current-institution">
   <%= f.select :current_institution, options_for_select(User::INSTITUTIONS), hide_label: :true, required:true, inline:true %>
  </div>

  <div class="col-md-6 current-program">
   <%= f.select :current_program, options_for_select(User::PROGRAMS), hide_label: :true, required:true, inline:true %>
  </div>
   
 <div class="col-md-12 email">
  <%= f.email_field :email, required:true, hide_label: :true, placeholder: "Enter your email address" %> 
 </div>

 <div class="col-md-12 password">
    <%= f.password_field :password, required:true, autocomplete: "off", hide_label: :true, placeholder: "Enter your password (8 characters minimum)" %>
 </div>
 
 <div class="col-md-12 password-confirmation">
    <%= f.password_field :password_confirmation, required:true, autocomplete: "off", hide_label: :true, placeholder: "Enter your password for confirmation" %>
</div>


<div class="col-md-12 submit">

<div><%= f.form_group :role, label: { text: "Role:" } do %>
    <% User::ROLES.each do |role| %>
      <%= f.radio_button :role, role, label: role.humanize, inline: true %>
    <% end %>
  <% end %>
</div>


  <%= f.submit "Sign up", class: "btn btn-info btn-block btn-lg" %>
</div>
<% end %>
