<%= render 'shared/nav' %>

<div class="container">
	<div class="row">
		<div class="col-md-6">

		<%= bootstrap_form_tag url: admin_index_path, method: :get do |f| %>
		<%= f.select :role, User::ROLES_DROPDOWN.map { |x| x} %>
		<%= f.select :institution, User::INSTITUTIONS.map { |x| x} %>
		<%= f.select :program, User::PROGRAMS.map { |x| x} %>
		<%= f.submit "Search" %><%= link_to "Add User", sign_up_path, class: "add-user btn btn-custom" %>

		


	               				
		<% end %>

		</div>

		   <div class="col-md-12 courses-table">
        <div class="table-responsive">
        <table class="table">
          <thead>

          	<th class="text-left">Role</th>
            <th class="text-left">First Name</th>
            <th class="text-left">Last Name</th>
            <th class="text-left">Email</th>
            <th class="text-center" colspan="3">Action</th>
            
            
          </thead>

            <tbody>
            		<% if @users != nil %>
	            		<% @users.each do |user| %>
	                  <tr>
	                  	<td class="t-info text-left"><%= user.role.humanize %></td>
	                    <td class="t-info text-left"><%= user.first_name %></td>
	                    <td class="t-info text-left"><%= user.last_name %></td>
	                    <td class="t-info text-left"><%= user.email %></td>
	                    <!-- <td class="t-info text-left"><img src="/assets/props.png"></td> -->
	                  
	                    <td class="t-info text-center">
	              				<%= check_box_tag "1" %>
	                    </td>
	            			</tr>
            			<% end %>
            		<% end %>

          </tbody>
        </table>
        </div> <!-- / Table responsive -->
      </div>


	</div>
</div>
















<%= render 'shared/internal_footer' %>

<%= render 'shared/modal' %>