<%= render 'shared/nav' %>

<div class="container">
	<div class="row">
		<div class="col-md-6">

<%= bootstrap_form_tag url: admin_index_path, method: :get do |f| %> 
<%= f.select :role, User::ROLES_DROPDOWN.map { |x| x }  %> 
<%= f.select :institution, User::INSTITUTIONS.map { |x| x }  %> 
<%= f.select :program, User::PROGRAMS.map { |x| x }  %> 
<%= f.submit %> 
<% end %>


		</div>
	</div>
</div>





<%= render 'shared/internal_footer' %>

<%= render 'shared/modal' %>