
  <div class="container-fluid">
    <div class="row">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <%= link_to courses_path do %>
          <%= image_tag "logo.png", class: 'internal-brand' %>
          <% end %>
          </div>
              <ul class="nav navbar-nav internal-nav pull-right">
                <li ><%= link_to 'Courses', courses_path %></li>
                <% if current_user.role == "student" %>
                <li ><%= link_to 'Overall Ratings', ratings_path %></li>
                <% end %>
                
                <li><%= link_to(root_path, :'data-toggle' => 'dropdown', class: 'dropdown-toggle') do %>
                Welcome, 
                <% if current_user.role == "student" %>
                  <%= current_user.first_name %> <b><span class="caret"> </span></b>
                  <% elsif current_user.role == "instructor" %> 
                  Instructor<b> <span class="caret"> </span></b>
                  <% end %>
                <% end %>

                    <ul class="dropdown-menu" role="menu">
                      <div class="dropdown-caret">
                          <span class="caret-outer"></span>
                          <span class="caret-inner"></span>
                      </div>
                      <li><%= link_to '<i class="fa fa-cog"></i> Edit Profile'.html_safe, profile_path %></li>
                      <li><%= link_to '<i class="fa fa-question-circle"></i> Support'.html_safe, new_support_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to '<i class="fa fa-power-off"></i> Sign out'.html_safe, destroy_user_session_path, :method => 'delete' %></li>
                    </ul>
                </li>
                
                <%@num_new_notifications = current_user.get_num_new_notifications() %>
                <%@current_notifications = current_user.get_current_notifications() %>
                
                <li><%= link_to(root_path, :'data-toggle' => 'dropdown', class: 'dropdown-toggle') do %>

                  <i class="fa fa-bell-o">
                    <% if @num_new_notifications > 0 %>
                      <span class="notification-badge">
                      <%= @num_new_notifications %>
                      </span>
                    <%end%>
                  </i>

                  <ul class="dropdown-menu notifications" role="notifications">
                      <div class="dropdown-caret">
                          <span class="caret-outer"></span>
                          <span class="caret-inner"></span>
                      </div>
                      
                      <div class="notification-title">
                       <h4>Notifications</h4>
                       <!-- <h4 class="pull-right">View All<i class="fa fa-arrow-right"></i>
                       </h4> -->
                      </div>

                     <div class="divider"></div>
                      <div class="notification-wrapper">

                        <%if @current_notifications != nil %>
                        <% @current_notifications.each do |notification| %>
                          <% @link_ids = notification.get_redirect_link() %>
                          <% if @link_ids != nil %>
                          <!-- notifications with Links -->
                            <li class="notification-number"> <!--notification -->
                              <%= link_to course_assignment_teams_path(@link_ids[0],@link_ids[1],@link_ids[2]), class: 'content-block' do %>
                              <p><strong><%= notification.get_type_name() %></strong> • <%= notification.get_created_diff()%></p>
                              <h3><%=notification.get_description()%></h3>
                            </li> <!-- /notification -->
                            <% end %> 
                          <% else %>
                            <li class="notification-number"> <!--notification -->
                              <%= link_to ratings_path, class: 'content-block' do %>
                              <p><strong><%= notification.get_type_name() %></strong> • <%= notification.get_created_diff()%></p>
                              <h3><%=notification.get_description()%></h3>
                            </li> <!-- /notification -->
                            <% end %> 
                          <%end %>
                       <%end%> <!-- /Do Loop for notifications -->
                      <%else%>
                       <li class="notification-number"> <!--notification -->
                        you currently have no notifications
                          <%= link_to support_index_path, class: 'content-block' do %>
                        <% end %> 
                      </li> <!-- /notification -->
                      <%end%><!-- /if current_notifications != nil -->

                    </ul>
                  </div> <!-- /notifications wrapper -->
                    <% end %>
                </li> 
                
            </ul>
          </div>
        </div>
    </div>
  </div>


