
  <div class="container-fluid">
    <div class="row">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <%= link_to courses_path do %>
          <%= image_tag "logo.png", class: 'internal-brand' %>
          <% end %>
          </div>
              <ul class="nav navbar-nav internal-nav pull-right">
                <li ><%= link_to 'Courses', courses_path %></li>
                <% if current_user.role == "student" %>
                <li ><%= link_to 'Overall Ratings', ratings_path %></li>
                <% end %>
                
                <li><%= link_to(root_path, :'data-toggle' => 'dropdown', class: 'dropdown-toggle') do %>
                Welcome, 
                <% if current_user.role == "student" %>
                  <%= current_user.first_name %> <b><span class="caret"> </span></b>
                  <% elsif current_user.role == "instructor" %> 
                  Instructor<b> <span class="caret"> </span></b>
                  <% end %>
                <% end %>

                    <ul class="dropdown-menu" role="menu">
                      <div class="dropdown-caret">
                          <span class="caret-outer"></span>
                          <span class="caret-inner"></span>
                      </div>
                      <li><%= link_to '<i class="fa fa-cog"></i> Edit Profile'.html_safe, profile_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to '<i class="fa fa-sign-out"></i> Sign out'.html_safe, destroy_user_session_path, :method => 'delete' %></li>
                    </ul>
                </li>

                <li><%= link_to(root_path, :'data-toggle' => 'dropdown', class: 'dropdown-toggle') do %>
                  <i class="fa fa-bell-o"><span class="badge">4</span></i>
                  <ul class="dropdown-menu notifications" role="notifications">
                      <div class="dropdown-caret">
                          <span class="caret-outer"></span>
                          <span class="caret-inner"></span>
                      </div>
                      <div class="notification-title">
                     <h4>Notifications</h4><h4 class="pull-right">View All<i class="fa fa-arrow-right"></i></h4>
                    </div>
                     <div class="divider"></div>
                      <div class="notification-wrapper">
                        <!-- notification 1 -->
                        <li class="notification-number">
                        <a class="content-block" href="#">
                          <div class="notification-color"></div>
                          <p><strong>Evaluation Deadline</strong> • 1 day ago</p>
                          <h3>Marketing, Video Film Assignment</h3>
                        </a>
                      </li> <!-- /notification -->
                      <!-- notification 2 -->
                        <li class="notification-number">
                        <a class="content-block" href="#">
                          <div class="notification-color"></div>
                          <p><strong>Evaluation Deadline</strong> • 1 day ago</p>
                          <h3>Marketing, Video Film Assignment</h3>
                        </a>
                      </li> <!-- /notification -->
                      <!-- notification 3 -->
                        <li class="notification-number">
                        <a class="content-block" href="#">
                          <div class="notification-color"></div>
                          <p><strong>Evaluation Deadline</strong> • 1 day ago</p>
                          <h3>Marketing, Video Film Assignment</h3>
                        </a>
                      </li> <!-- /notification -->
                      <!-- notification 4 -->
                        <li class="notification-number">
                        <a class="content-block" href="#">
                          <div class="notification-color"></div>
                          <p><strong>Evaluation Deadline</strong> • 1 day ago</p>
                          <h3>Marketing, Video Film Assignment</h3>
                        </a>
                      </li> <!-- /notification -->
                    </ul>
                  </div> <!-- /notifications wrapper -->
                <% end %>
                </li> 
                
            </ul>
          </div>
        </div>
    </div>
  </div>


