<%= render 'shared/nav' %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 heading-titles">
      <h1 class="text-center page-title"><%= current_user.first_name%>' Overall Ratings</h1>
  	</div>
		
		
		<% User::EVALUATION_FIELDS.each_with_index do |eval,index| %>
			<% if index == 0 %>
				<div class="col-md-2 col-md-offset-1"> 
			<% else %>
				<div class="col-md-2"> 		
			<% end %>
				<div class="rating-panel">
					<div class="rating-heading">
			    		<h3 class="rating-title text-center"><%= eval.humanize %></h3>
			  		</div>
					<div class="rating-icon">
						<h1 class="rating-value"> <%= current_user.get_evaluation_field_average(eval) %> </h1>
			  		</div>
			  <div class="rating-body">
			    <p></p>
			  </div>
			  <div class="panel-footer">
			  	<p class="rating-fine-print">*Rating is out of 5 based on a cumulative average.</p>
			  </div> <!-- close panel footer -->
			</div> <!-- close panel -->
		</div> <!-- close Dependability -->
		<% end %> <!-- close do -->
		

		<div class="col-md-10 col-md-offset-1">
			<h1>Comments</h1>
			<% @comments = current_user.get_all_comments %>
			<% @comments.each do |comment| %>
				<p class="comment-box"> <%= comment %> <p>
			<% end %>
		</div>
	</div> <!-- close row -->
</div> <!-- close container-fluid -->

<%= render 'shared/internal_footer' %>

