<%= render 'shared/nav' %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 heading-titles">
      <h1 class="text-center page-title"><%= current_user.first_name%>' Overall Ratings</h1>
  		</div>
		
		
		<% User::EVALUATION_FIELDS.each_with_index do |eval,index| %>
			<% if index == 0 %>
				<div class="col-md-2 col-md-offset-1"> 
			<% else %>
				<div class="col-md-2"> 		
			<% end %>
				<div class="rating-panel">
					<div class="rating-heading">
			    		<h3 class="rating-title text-center"><%= eval.humanize %></h3>
			  		</div>
					<div class="rating-icon">
						<h1 class="rating-value"> <%= current_user.get_evaluation_field_average(eval) %> </h1>
			  		</div>
			  <div class="rating-body">
			    	
			  </div>
			  <div class="panel-footer">
			  	<p class="rating-fine-print">*Rating is out of 5 based on a cumulative average.</p>
			  </div> <!-- close panel footer -->
			</div> <!-- close panel -->
		</div> <!-- close Dependability -->
		<% end %> <!-- close do at very top -->
	</div> <!-- close row -->
	

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Philosophy 101</h1>
	<h4 class="dashboard-assignment">Assignment #1</h4>
		<div class="cumulative-ratings">
	      	<ul class="ratings-wrapper">
	        <li class="rating-list"><h5 class="category-title">Dependibility</h5><div class="bubble-box"><h6 class="rating-bubble">2</h6></div>
	       </li>
	        <li class="rating-list"><h5 class="category-title">Communication</h5><div class="bubble-box"><h6 class="rating-bubble">5</h6></div></li>
	        <li class="rating-list"><h5 class="category-title">Quality of Work</h5><div class="bubble-box"><h6 class="rating-bubble">1</h6></div></li>
	        <li class="rating-list"><h5 class="category-title">Work Ethic</h5><div class="bubble-box"><h6 class="rating-bubble">3</h6></div></li>
	        <li class="rating-list"><h5 class="category-title">Team Player</h5><div class="bubble-box"><h6 class="rating-bubble">4</h6></div></li>
	    	</ul>
         </div>
    
      <div class="col-md-12">
      	<h4>Comments</h4>
			<% @comments = current_user.get_all_comments %>
			<% if @comments == 0 %>
				Currently you do not have comments.
			<% else %> 
			<% @comments.each do |comment| %>
				<p class="student-comments comment-box"> <%= comment %> </p>
			<% end %>
		<% end %> <!-- closes the random if statement i put in -->
		</div>
 	</div>
</div>

 
</div> <!-- close container-fluid -->



<%= render 'shared/internal_footer' %>

