<%= render 'shared/nav' %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 heading-titles">
      <h1 class="text-center page-title"><%= current_user.first_name%>'s Overall Ratings</h1>
  		</div>
		
		
		<% User::EVALUATION_FIELDS.each_with_index do |eval,index| %>
			<% if index == 0 %>
				<div class="col-md-2 col-md-offset-1"> 
			<% else %>
				<div class="col-md-2"> 		
			<% end %>
				<div class="rating-panel">
					<div class="rating-heading">
			    		<h3 class="rating-title text-center"><%= eval.humanize %></h3>
			  		</div>
					<div class="rating-icon">
						<h1 class="rating-value"> <%= current_user.get_evaluation_field_average(eval) %> </h1>
			  		</div>
			  <div class="rating-body">
			    	
			  </div>
			  <div class="panel-footer">
			  	<p class="rating-fine-print">*Rating is out of 5 based on a cumulative average.</p>
			  </div> <!-- close panel footer -->
			</div> <!-- close panel -->
		</div> <!-- close Dependability -->
		<% end %> <!-- close do at very top -->
	</div> <!-- close row -->
	

<div class="row">
	<div class="col-md-10 col-md-offset-1">	
	  	<!-- get all courses -->
	  	<% @courses = current_user.enrolled_courses %>
	  	<% @courses.each do | course| %>
		    <h1><%= course.course_name %></h1>
		    <% @assignments = course.get_all_assignments %>
		    <% @assignments.each do | assignment | %>
				<h4 class="dashboard-assignment"><%= assignment.name %></h4>		
					<div class="cumulative-ratings">
				      	<ul class="ratings-wrapper">
				        <% User::EVALUATION_FIELDS.each do |eval| %>
				        <li class="rating-list"><h5 class="category-title"><%= eval.humanize %></h5><div class="bubble-box"><h6 class="rating-bubble"><%=current_user.get_assignment_evaluation_field_average(assignment,eval) %></h6></div>
				       </li>
				        <% end %> <!-- closes the evals loop -->
				      <!-- <img class="props pull-right" src="/assets/props.png"/>
				        	<span class="props-badge" value="+">4</span> -->
				      
				    	</ul>
			         </div>
			        <div class="col-md-12 comment-section">
						<% @comments = current_user.get_assignment_evaluation_field_average(assignment,"comment") %>
						<% if @comments == 0 %>
							<h4 class="text-center no-comment">You currently don't have any comments for this assignment.</h4>
						<% else %>
						<h5>Comments:</h5>
						<% if @comments != nil %>
							<% @comments.each do |comment| %>
								<p class="student-comments comment-box"> <%= comment %> </p>
							<% end %>
						<%end%>

					<% end %> <!-- closes if comments == 0 -->
					</div><!-- closes the comment div -->
			<% end %> <!-- closes the assignments loop -->
		<% end %> <!-- closes the courses loop -->
	</div> <!-- closes div class="col-md-10 col-md-offset-1"-->
</div>

 
</div> <!-- close container-fluid -->



<%= render 'shared/internal_footer' %>

