<%= render 'shared/nav' %>

<div class="container">
  <div class="row">
    <div class="col-md-12 heading-titles">
      <h1 class="text-center page-title">Courses</h1>
      <% if current_user.role == "student" %>
        <h3><%= link_to 'Enroll in a Course +', new_course_path, :remote => true, class: "btn action btn-info" %></h3>
        <% elsif current_user.role == "instructor" %> 
        <h3><%= link_to 'Add a Course +', new_course_path, :remote => true, class: "btn action btn-info" %></h3>          
      <% end %>
  
    </div>
  </div>

          <% if @courses != nil && @courses.size == 0 %>
            <%= render 'shared/loader' %>
              <% if current_user.role == "instructor" %>
              <h4 class="text-center no-courses">You currently don't have any courses. Add a course to begin building your course list.</h4>
              <% elsif current_user.role == "student" %>
                <h4 class="text-center no-courses">You currently don't have any courses. Enroll in a course to begin building your course list.</h4>
                <% end %> 
          <% else %> 
      <div class="row">
      <div class="col-md-12 courses-table">
        <div class="table-responsive">
        <table class="table">
          <thead>
            <th class="text-left">Course Name</th>
            <th class="text-left">Course Code</th>
            <th class="text-left">Start Date</th>
            <% if current_user.role == "instructor" %>
            <th class="text-left">Enrollment Password</th>
            <% end %> 
            <th class="text-center" colspan="3">Actions</th>
          </thead> 
            <tbody>
            <% @courses.each do |course| %>
            <tr>
              <td class="t-info text-left"><%= course.course_name %></td>
              <td class="t-info text-left"><%= course.course_id %></td>
              <td class="t-info text-left"><%= course.start_date.try(:to_date) %></td>
              <% if current_user.role == "instructor" %>  
              <td class="t-info text-left"><%= course.enrollment_password %></td>
            <% end %>
              
              <td class="t-info text-center">

            <% if current_user.role == "instructor" %>

            <%= link_to course_assignments_path(course), 'data-toggle' =>  "tooltip", 'data-trigger' => 'hover', 'data-placement' => 'left', 'title' => 'View Assignments', class: "tb-btn-space" do %>
             <i class="glyphicon glyphicon-eye-open"></i>
            <% end %>

              <%= link_to edit_course_path(course), :remote => true, 'data-toggle' =>  "tooltip", 'data-trigger' => 'hover', 'data-placement' => 'bottom', 'title' => 'Edit Course', class: "tb-btn-space" do %>
              <i class="glyphicon glyphicon-pencil"></i>
              <% end %>

              <%= link_to course_path(course), 'data-toggle' =>  "tooltip", 'data-trigger' => 'hover', 'data-placement' => 'right', 'title' => 'Delete', method: :delete,
               data: { confirm: 'Are you sure?' }, class: "tb-btn-space" do %>
              <i class="glyphicon glyphicon-trash"></i>
              <% end %>

            <% elsif current_user.role == "student" %> 

            <%= link_to course_assignments_path(course), 'data-toggle' =>  "tooltip", 'data-trigger' => 'hover', 'data-placement' => 'left', 'title' => 'View Assignments', class: "tb-btn-space" do %>
             <i class="glyphicon glyphicon-eye-open"></i>
              <% end %>
            <% end %> 
            
            </td>
            </tr>
          
          <% end %>
          </tbody>
        </table>
        </div> <!-- / Table responsive -->
      </div>
    </div>
     <!--This goes back to the index action -->
  </div>
<% end %>

<%= render 'shared/internal_footer' %>

<%= render 'shared/modal' %>

