
<%= render 'shared/nav' %>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>Support</h3>
			<h5 class="support-info">Please indentify the problem you are encountering and the team at Foobli will resolve your issue as fast as we can! Thanks.</h5>
			
			<%= bootstrap_form_for :support, url: { action: "create" } do |f| %>
			
			<div><%= f.text_field :optional_email, autofocus: true, hide_label: true, placeholder: "Email (optional)" %>
			</div>

			<div><%= f.text_area :question, autofocus: true, hide_label: true, placeholder: "Comment" %>
			</div>
			

			<div><%= f.submit "Send", class:"btn btn-info" %></div>

			<% end %>
		</div>
	</div>
</div>


<%= render 'shared/internal_footer' %>
