<!DOCTYPE html>
<html>
<head>
  <title>PEER4M</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content='Peer4m is a platform designed to recognize, develop and align college students through a convenient online peer evaluation system for group projects'>
    <meta name="keywords" content='Peer4m, education, peer evaluation, groups, projects, college students, group work,assignments, instructors, peers'>
    <meta name="author" content='Peer4m'>
</head>

<body>
  
  <div id="wrapper">
    <div id="content">


<%= yield %>



</div>
<!-- This content id adds padding so the absolutley positioned footer doesnt end up either overlapping (hiding) the bottom of the page content, or staying in the same position -->




</div> <!-- Closing of the html wrapper. The wrapper helps aleviate a floating footer when there isnt any content on the page yet. -->

</body>






<!-- Google Analytics -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49142000-2', 'peer4m.com');
  ga('send', 'pageview');

</script>







</html>


