<!DOCTYPE html>
<html>
<head>
  <title>Peer4m</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content='Peer4m is a platform designed to recognize, develop and align college students through a convenient online peer evaluation system for group projects'>
    <meta name="keywords" content='Peer4m, education, peer evaluation, groups, projects, college students, group work,assignments, instructors, peers'>
    <meta name="author" content='Peer4m'>
</head>
<body>

<%= yield %>

</body>

<script>
smoothScroll.init({
    speed: 500, // Integer. How fast to complete the scroll in milliseconds
    easing: 'easeOutQuad', // Easing pattern to use
    updateURL: false, // Boolean. Whether or not to update the URL with the anchor hash on scroll
    offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
    callbackBefore: function ( toggle, anchor ) {}, // Function to run before scrolling
    callbackAfter: function ( toggle, anchor ) {} // Function to run after scrolling
});
</script>

<script>
    smoothScroll.init();
</script>



</html>


