<!DOCTYPE html>
<html>
<head>
  <title>PEER4M</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content='Peer4m is a platform designed to recognize, develop and align college students through a convenient online peer evaluation system for group projects'>
    <meta name="keywords" content='Peer4m, education, peer evaluation, groups, projects, college students, group work,assignments, instructors, peers'>
    <meta name="author" content='Peer4m'>
</head>
<body>


<%= yield %>



</body>

<div class="container-fluid" id="contact_us">
  <div class="container">
    <div class="row">
      <!-- <h3>Please call or email us for a trial...</h3> -->
    <div class="col-md-12 col-xs-12">
      
      <a class="email-info" href="mailto:info@peer4m.com?subject=PEER4M Inquiries">
      <span class="glyphicon glyphicon-send">info@peer4m.com</span></a>
      
      <a class="phone" href="tel: (647)-801-4500">
          <span class="glyphicon glyphicon-earphone">647-801-4500</span></a> 
    </div>

    <!-- <div class="col-md-12">
      <a href="#" target="_blank"><i class="peer4m-social fa fa-facebook"></i></a>
      <a href="#" target="_blank"><i class="peer4m-social fa fa-twitter"></i></a>
      <a href="#" target="_blank"><i class="peer4m-social fa fa-linkedin"></i></a>
    </div> -->

      <div class="col-md-12">
      <!--begin copyright -->            
          <p class="copyright">© 2014 PEER4M | All rights reserved.</p>
           <!--end logo -->
        </div>
    </div> <!-- closing of the container -->
  </div> 
  <!-- Closing of the footer -->
</div>







</html>


